* {
  padding: 0;
  marign: 0;
  box-sizing: border-box;
}
body {
  background-color: #1b0044;
}

.container {
  margin: 100px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  max-width: 40%;
}
.container .top {
  background-color: #522e91;
  width: 100%;
  text-align: center;
  position: relative;
}
.container .top h2 {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}
.container .top i {
  position: absolute;
  right: 10px;
  top: 30%;
  font-size: 24px;
  background-color: white;
  border-radius: 50%;
  padding: 3px;
}
.container .tasks {
  padding: 15px 20px;
  wdith: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .tasks h3 {
  margin: 0;
}
.container .tasks p {
  margin: 0;
  color: #666;
  font-size: 13px;
  font-weight: bold;
}
.container .tasks .put {
  color: white;
  background-color: #4e5ac9;
  border-radius: 50%;
  padding: 5px;
}
.container .tasks .delete {
  color: white;
  background-color: #610003;
  border-radius: 50%;
  padding: 5px;
}
.container .tasks .left {
  display: flex;
  gap: 20px;
}
.container .tasks .check {
  color: white;
  background-color: #008d17;
  border-radius: 50%;
  padding: 5px;
}
.container .tasks .cancel {
  color: white;
  background-color: red;
  border-radius: 50%;
  padding: 5px;
}
.done {
  background-color: green
}